/**
* Construction Web Services
* (c) copyright Construction Web Services/Billie Robertson
*/


//Navigation
.bg-dark {
	background-color: $dark-gray !important;
}
a.bg-dark:hover{
    background-color: $light-gray !important;
}

// Text Control
.cws-menu-text {
    color: $cws-menu-text !important;
    opacity: 0.75;
}

//Footer
.footer {
	height: 30px;
	width: 100%;
	background-color: $dark-gray !important;
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	align-content: middle;
}

