/**
* cws_global.scss
* Construction Web Services
* (c) copyright Construction Web Services/Billie Robertson
*/


//Navigation
//----------

.bg-dark {
	background-color: $dark-gray !important;
}

a.bg-dark:hover{
    background-color: $light-gray !important;
}

a.bg-dark-active{
    background-color: $light-gray !important;
}

// Text Control
//-------------

.cws-menu-text {
    color: $cws-menu-text !important;
    opacity: 0.85 !important;
}

.required-before:before {
    color: $cws-red;
    font-weight: bold;
    font-weight: bolder;
    content: "* ";
}

.required-after:after {
    color: $cws-red;
    font-weight: bold;
    font-weight: bolder;
    content: " *";
}

// Table Control
//--------------

.cws-table-wrapper{
    overflow-y: scroll;
    height: 622px;
  }

.cws-table-wrapper th {
    background-color: $dark-gray;
    color: $cws-menu-text !important;
    border: 1px solid $dark-gray;
    text-align: left;
    padding: 3px;
    position: sticky;
    top: 0;
}

.cws-table-wrapper td {
    border: 1px solid $dark-gray;
    padding: 3px;
}

// Footer
//--------

.footer {
	height: 30px;
	width: 100%;
	background-color: $dark-gray !important;
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	align-content: middle;
}

// Admin Sidebar
//--------------

.admin-sidebar {
    padding-left: 55px;
}
