/**
* Construction Web Services
* (c) copyright Construction Web Services/Billie Robertson
*/

//Home Header Background
.home-header-bg {
	background-image: url("/img/home_header/home_header_background.png");
	background-repeat: repeat-x;
}
// Text Control
.home-content{
	padding-top: 35px;
}

.home-title {
	padding-left: 30px;
}

.vertical-center{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}


//Backgrounds

.home-bg {
	background: url("/img/backgrounds/cws_home_bg.png") no-repeat center center;
	background-size: cover;
	height: 1000px;
	position: fixed;
}

.estimating-bg {
	background: url("/img/backgrounds/cws_estimating_bg.png") no-repeat center center;
	background-size: cover;
	height: 1000px;
	position: fixed;
}

.pm-bg {
	background: url("/img/backgrounds/cws_pm_bg.png") no-repeat center center;
	background-size: cover;
	height: 1000px;
	position: fixed;
}

.consult-bg {
	background: url("/img/backgrounds/cws_consulting_bg.png") no-repeat center center;
	background-size: cover;
	height: 1000px;
	position: fixed;
}

.drafting-bg {
	background: url("/img/backgrounds/cws_drafting_bg.png") no-repeat center center;
	background-size: cover;
	height: 1000px;
	position: fixed;
}

.contact-bg {
	background: url("/img/backgrounds/cws_contact_bg.png") no-repeat center center;
	background-size: cover;
	height: 1000px;
	position: fixed;
}
